In [1]:
from tabula import read_pdf
import pandas as pd
import pprint

In [2]:
file_names = ['/home/xgboost/data/avc.pdf']

In [3]:
tables = []
for f in file_names:
    df = read_pdf(f, pages='3-109', output_format='dataframe', pandas_options={'header' : None}, silent=True)
    print(len(df))
    df = df[0]
    contacts = df[[0]]
    contacts.columns = ['c']
    fil = contacts.c.notnull() & contacts.c.str.contains('\(\d{3}\) \d{3}-\d{4}')
    tables.append(contacts.loc[fil].reset_index(drop=True))

1

In [4]:
numbers = pd.concat(tables, ignore_index=True)

In [5]:
numbers

                   c
0     (917) 495-0697
1     (646) 363-5445
2     (917) 560-8311
3     (646) 510-2501
4     (347) 446-7748
...              ...
1167  (917) 455-9627
1168  (347) 732-9191
1169  (917) 767-1720
1170  (917) 250-1020
1171  (917) 365-4566

[1172 rows x 1 columns]

In [6]:
numbers.to_csv('/home/xgboost/data/telnumbers_1172.csv', header=None, index=False)